---
interface Props {
  token: string | null
}

const { token } = Astro.props
---

<div class="flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8 pt-20">
  <div class="max-w-md w-full rounded-xl shadow-lg p-5 mt-16 bg-white">
    <div>
      <h1 class="text-3xl font-bold mb-4">Welcome</h1>
      {
        token ? (
          <>
            <p>
              We have detected your <code>key</code>! You can now view the summary page!
            </p>
            <button
              id="go-to-summary"
              class="group flex justify-center items-center disabled:opacity-30 disabled:pointer-events-none py-2 px-4 rounded-md text-white bg-black hover:bg-black/80 focus:outline-none focus:ring-2 transition duration-200 ease-in-out mt-4 w-full"
            >
              Go to summary page
            </button>
          </>
        ) : (
          <>
            <p>
              We have not detected both a <code>key</code> and <code>shop</code> params in the URL.
              Please provide them for us to get started, or visit the URL with the token provided.
            </p>
            <p class="mt-4">
              For example:
              <code>https://tw-astro.netlify.app?key=YOUR_TW_TOKEN&shop=YOUR_SHOP</code>
            </p>
            <p class="mt-4">
              You can obtain your <code>key</code>{' '}
              <a
                href="https://app.triplewhale.com/api-keys"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 hover:text-blue-700"
              >
                here
              </a>{' '}
              if you have not done so already.
            </p>
            <div class="mt-6 flex flex-col gap-4 w-full">
              <input
                type="text"
                id="token"
                name="token"
                class="shadow-sm focus:ring-black focus:border-black block w-full sm:text-sm border-gray-300 rounded-md p-4"
                placeholder="Your Triple Whale API Key"
              />
              <input
                type="text"
                id="shop"
                name="shop"
                class="shadow-sm focus:ring-black focus:border-black block w-full sm:text-sm border-gray-300 rounded-md p-4"
                placeholder="Your Shopify Store URL"
              />
              <button
                id="submit"
                class="flex justify-center items-center disabled:opacity-30 disabled:pointer-events-none py-2 px-4 rounded-md text-white bg-black hover:bg-black/80 focus:outline-none focus:ring-2 transition duration-200 ease-in-out"
              >
                Submit
              </button>
            </div>
          </>
        )
      }
    </div>
  </div>
</div>

<script>
  const tokenInput = document.getElementById('token') as HTMLInputElement
  const shopInput = document.getElementById('shop') as HTMLInputElement
  const submitButton = document.getElementById('submit') as HTMLButtonElement
  const goToSummaryButton = document.getElementById('go-to-summary') as HTMLButtonElement

  submitButton?.addEventListener('click', () => {
    const token = tokenInput?.value ?? null
    const shop = shopInput?.value ?? null

    if (token && shop) {
      window.location.href = `/?token=${token}&shop=${shop}`
    }
  })

  goToSummaryButton?.addEventListener('click', () => {
    goToSummaryButton.disabled = true
    goToSummaryButton.innerHTML = `
      <svg
        class="hidden motion-reduce:hidden animate-spin -ml-1 mr-3 h-5 w-5 text-white group-disabled:block"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        />
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        />
      </svg>
      Loading summary page...
    `
  })
</script>
